<h1>返却</h1>
<%= form_for(@lend) do |f| %>
  <%= f.label :book_id %><br />
  <%= f.text_field :book_id %><br />
  <% Time.zone = 'Asia/Tokyo' %>
  <%= f.datetime_select :return_day, include_seconds: true %>
  <%= f.submit %>
<% end %>
<%= link_to '一覧', lends_path%>
<%= link_to 'home', "/" %>

