<%= form_for @user, :html => {:multipart => true} do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br />
  <%= f.label :kana %>
  <%= f.text_field :kana %><br />
  <%= f.label :birthday %>
  <%= f.text_field :birthday %><br />
  <%= f.label :"画像" %>
  <%= f.file_field :cover_image %><br />
<div id="address">
  <%= f.fields_for :addresses do |address| %>
    <%= render "addresses_fields", :f => address %>
  <% end %>
</div>
  <%= link_to_add_fields "都道府県追加" , f, :addresses, "#address"%><br />
  <%= f.submit %>
<% end %>
<%= link_to 'Home', '/' %> *
<%= link_to 'Back', users_path %>
