<h1>Users一覧</h1>
<table id="search">
  <%=form_tag :action => 'search' do-%>
    <%= text_field_tag :search_string %>
    <%= submit_tag 'Search' %> 
  <% end-%>
</table>

<table><th>画像</th><th>id</th><th>name</th><th>kana</th><th>県名</th>
  <% @users.each do |user|%>
    <tr>
      <% if user.cover_image %>
        <td><%=image_tag user.cover_image.thumb('20x20').url %></td>
      <% else %>
        <td>&nbsp;</td>
      <% end %>
      <td><%= user.id %></td>
      <td><%= user.name %></td>
      <td><%= user.kana %></td>
      <td><% user.addresses.each do |a| %>
        <%=  a.prefecture %>
      <% end %></td>
    <td><%= link_to '詳細', user,  action: "show" %></td>
    <td><%= link_to '削除', user, confirm: '本当に削除しますか？', method: :delete %></td>
  </tr>

<% end %>
</table>
<%= link_to 'Home', '/' %> *
<%= link_to 'New User', new_user_path %> 
